        
        /*Carrossel*/

        .carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-track {
  display: flex;
  gap: 2rem; /* espaçamento maior entre cards como você pediu */
  transition: transform 0.45s cubic-bezier(.25,.46,.45,.94);
}

.carousel {
    position: relative;
    width: 100%;
    height: 320px;
}

.carousel-card p {
  text-indent: 30px;
}

.highlight {
    color: #9408fc;
}

.carousel-card {
    position: absolute;
    width: 450px; 
    height: 400px;
    padding: 20px;
    background: #0d0d0d;
    border: 2px solid #a020f0;
    border-radius: 18px;
    color: white;
    transition: none;
    opacity: 0.4;
    transform: scale(0.85);
    overflow: hidden;
    transform: translateX(-50%) scale(1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    line-height: 1.55;
     word-wrap: break-word;
    overflow-wrap: break-word;
}
   
.carousel-card p + p {
    margin-top: 10px;
}

.loaded .carousel-card {
    transition: transform 0.45s cubic-bezier(.25,.46,.45,.94),
                opacity 0.45s cubic-bezier(.25,.46,.45,.94);
}

.carousel-card.left {
    left: 50%;
    top: 20px;
    transform: translateX(-160%) scale(0.8);
    opacity: 0.5;
}

.carousel-card.center {
    left: 50%;
    top: 0;
    transform: translateX(-50%) scale(1.15);
    opacity: 1;
    z-index: 3;
}

.carousel-card.right {
    left: 50%;
    top: 20px;
    transform: translateX(60%) scale(0.8);
    opacity: 0.5;
}


/* Botões */
.carousel-btn {
    font-size: 32px;
    padding: 12px;
    background: none;
    border: none;
    color: white;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transform: translateY(10px); /* posição base */
    transition: transform 0.25s ease, color 0.2s ease;
}

.carousel-btn.left {
    left: 19%;   
}

.carousel-btn.right {
    right: 19%;
}

.carousel-btn:hover {
    color: #9408fc;
    transform: translateY(5px);
    
}
/*Um pouco sobre o fundador*/
 
.founder-section {
  padding-top: 20px ;
  padding-bottom: 20px;
}

.founder-content {
  display: flex;
  align-items: center;
  
}

.founder-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.7;
}

.founder-text p {
  margin-bottom: 20px;
  flex: 2;
}

.founder-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.founder-image img {
  max-width: 100%;
  border-radius: 16px;
}

.founder-quote {
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  flex: 3;
}

.faq {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  border: solid #9408fc 2px;
  background: #000000;
  border-radius: 14px;
  overflow: hidden;
  transition: all .3s ease;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: white;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  transition: max-height .35s ease;
}

.faq-item.active .faq-answer {
  padding: 15px 20px 20px 20px;
  max-height: 200px; 
}

.arrow {
  transition: transform .3s ease;
}

.faq-item.active .arrow {
  transform: rotate(90deg); 
}